<header class="header">
    <div class="header_left">
        <div class="nav">
            <ul class="nav_list" >
                <li>
                <a  class="nav_link" href="file:///C:/OpenServer/domains/vso/dist/index.html">ЗаГлавная</a>
                </li> 
                <li class="nav_item">
                <a class="nav_link has" href="http://localhost:3000/post.html">Статьи</a>

                <ul class="subnav">
                    <li>
                        <a class="subnav_link" href="http://localhost:3000/post.html">Создание сайтов</a>
                    </li>
                    <li>
                        <a class="subnav_link" href="#">Интернет-маркетинг</a>
                    </li>
                    <li>
                        <a class="subnav_link" href="#">Продвижение видео</a>
                    </li>
                </ul>
        

                </li>
                <li>
                <a class="nav_link" href="#">Обо мне</a>
                </li>
                <li>
                <a class="nav_link" href="#">Реклама</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header_right">
        <div class="nav">
            <ul class="nav_list">
                <li>
                <a class="nav_link" href="#">Профиль</a>
                </li>
            </ul>
        </div>
        <form class="search"  action="/" method="post">
            <input type="text" class="search_input" placeholder="Поиск по блогу">
        </form>
    </div>

</header>
