<aside class="sidebar">
    <div class="sidebar_header">
    <img src="assets/images/noyt.jpg" alt="">
    </div>
    <div class="sidebar_contend">
        <div class="profile">
            <img class="profile_avatar" src="assets/images/VVV.png" alt="ttt">
        </div> 
        <div class="profile_name">Владимир А.</div>
        <div class="profile_job"> блог front end разработчика</div>
           <ul class="social">
                <li class="social_item">
                    <a  class="social_link"href="https://www.youtube.com" target="_blank">
                        <img src="assets/images/Instagram_icon 1.png" alt="fdfg">
                    </a>
                </li>
                <li class="social_item">
                    <a  class="social_link" href="https://www.vk.com/" target="_blank">
                        <img src="assets/images/ops1.png" alt="fff">
                    </a>
                </li>
                <li class="social_item">
                    <a  class="social_link"href="https://www.youtube.com/" target="_blank">
                        <img src="assets/images/you1.jpg" alt="ffkjhkjf">
                    </a>
                </li>
           </ul>
           <div class="profile_text">
            <p>
                Здравствуйте. Я опытный разработчик/верстальщик сайтов.
                Знаю такие языки программирования как PHP, HTML, Java, CSS.
                До сайтов я создавал ПО на Android Studio.
                Еще раньше создавал игры на Java.
                
            </p>
        </div>  
        
    </div>
    <div class="sidebar_footer">
        <a class="btn btn--red "  href="file:///C:/OpenServer/domains/vso/dist/post.html#">Мои работы</a>
        <button  class="btn btn--blue "type="button ">Написать мне</button>



    </div>

</aside>   



