.search{
    min-width: 21rem;
    width: 100%;
    background-color: rgb(40, 40, 40);
}

.search_input{
     display: block;
     width: 100%;
     padding: 1.2rem 2rem;
     background: transparent;
     border: none;
     font-family: inherit;
     font-size: 1.2rem;
     color: #fff;

     &::placeholder{
        color: rgba(246, 246, 246, 0.4);
     }
}